In [1]:
data_path='../../data/'
data_raw_path="../../data/raw/for third propose/"
data_man_path="../../data/manipulate/for third propose/"
model_path="../../model/modeling_third_propose/"

In [2]:
import pandas as pd

In [3]:
qq1='''(select booking_time,order_no, payment_method_name, "-" merchant_name, "shop" type,
    item_list
    from `access.sd_goshop_booking` 
    where status_id=3 and _PARTITIONTIME >= "2016-05-01"
    and _PARTITIONTIME <= "2018-05-01"
    and length(item_list)>=3
    order by rand()
    limit 1600000)
    
    union all

    (select booking_time,order_no, payment_method_name, "-" merchant_name, "mart" type,
          string_agg(REGEXP_REPLACE(lower(il.item_name),r"[,.;@#?!&$]+\ *", " "),",") item_list
        from `access.sd_gomart_booking`, unnest(item_list) il
    where status_id=3 and _PARTITIONTIME >= "2016-05-01"
        and _PARTITIONTIME <= "2018-05-01"
    group by 1,2,3,4,5
    order by rand()
    limit 1200000)

    union all

    (select booking_time,order_no, payment_method_name, merchant_name , "food" type,
        string_agg(REGEXP_REPLACE(lower(il.item_name),r"[,.;@#?!&$]+\ *", " "),",") item_list
    from `access.sd_gofood_booking`, unnest(item_list) il
    where status_id=3 and _PARTITIONTIME >= "2017-05-01"
        and _PARTITIONTIME <= "2018-05-01"
        and service_area_name in ("JABODETABEK","SURABAYA","BANDUNG",'YOGYAKARTA')

    group by 1,2,3,4,5

    having LENGTH(string_agg(lower(il.item_name))) - 
      LENGTH(REGEXP_REPLACE(string_agg(lower(il.item_name))," ",""))<10
    order by rand()
    limit 800000)
    '''
# qq2='''select *
# from `playground.xx_go_shop_item_data2` 
# order by rand()
# limit 1500000'''

qq3='''select * from access_commerce.dx_gocommerce_sample'''

dtext=pd.read_gbq(qq1,project_id="bi-gojek",dialect="standard")
# dtag=pd.read_gbq(qq3,project_id="bi-gojek",dialect="standard")

In [4]:
dtext.head()

,booking_time,order_no,payment_method_name,merchant_name,type,item_list
0,2018-03-16 07:17:35,457815035,CASH,-,mart,fanta stroberi 390 ml
1,2016-10-17 15:16:40,231213726,GO-PAY,-,mart,aqua - 1500 ml air mineral
2,2017-12-22 13:24:26,413928537,PARTIAL_PAYMENT,-,mart,samyang buldak cheese hot chicken ramen 140 gr...
3,2018-02-03 14:23:40,436103314,GO-PAY,-,mart,heineken multipack pint 330 ml x 4 pcs
4,2018-03-27 15:43:51,464218735,PARTIAL_PAYMENT,-,mart,"aqua - 1 5 l,yakult - 5 pcs,sari roti coklat 1..."

In [5]:
dtext.to_csv(data_raw_path+"data_gocommerce_items_sample_1.csv",index=False)

In [6]:
dtag=pd.read_csv(data_man_path+"data_tag_goshop3_unique.csv")

In [7]:
len(dtag.Keywords.unique())-len(dtag)

0

In [8]:
XX=dtag.groupby("Keywords").Tags.size()
XX[XX>1]

Series([], Name: Tags, dtype: int64)