In [1]:
%matplotlib inline
import pandas as pd
import re
import numpy as np

# Get The Data Item Only

In [3]:
data_path='../../data/'
data_raw_path="../../data/raw/for third propose/"
data_man_path="../../data/manipulate/for third propose/"
model_path="../../model/modeling_third_propose/"

In [4]:
dtesting=pd.read_csv(data_man_path+"test_gocommerce_items_only_cln.csv")
dtag=pd.read_csv(data_man_path+"data_tag_goshop3_unique.csv").drop_duplicates()

/Users/alamhanz/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# dtesting

In [6]:
dtesting2=dtesting[~(dtesting.item_list_cln1.isnull())]
dtesting2=dtesting2[~(dtesting2.item_list_cln2.isnull())]

# Label with real (rule based)

In [7]:
dtag["num_word"]=dtag.Keywords.apply(lambda x : len(x.split(" ")))
dtag["num_word_tag"]=dtag.Tags.apply(lambda x : len(x.split(" ")))

keyword_set=set(dtag.Keywords.unique())
keyword_set1=set([t for t in keyword_set if len(t.split(" "))==1])
keyword_set2=set([t for t in keyword_set if len(t.split(" "))==2])
keyword_set3=set([t for t in keyword_set if len(t.split(" "))==3])


ts=set(dtag.Tags.unique())
ts1=set([t for t in ts if len(t.split(" "))==1])
ts2=set([t for t in ts if len(t.split(" "))==2])
ts3=set([t for t in ts if len(t.split(" "))==3])

dict_keyword=pd.DataFrame(dtag.Tags)
dict_keyword.index=dtag.Keywords
dict_keyword=dict_keyword["Tags"].to_dict()

In [8]:
def include_tags(X,Y):
    X2=[]
    for x1 in X:
        k=0
        for y1 in Y:
            if x1 in y1:
                k=1
                break
        if k==0:
            X2.append(x1)
    
    return set(X2)|Y

def remove_term(text,X):
    for term in X:
        text=text.replace(' '+term+' '," ")
        text=re.sub( '\s+', ' ',text)
    return text
    

def tags(tx):
    X3=set([tg for tg in keyword_set3 if ' '+tg+' ' in ' '+tx+' '])
    tx2=remove_term(' '+tx+' ',X3)
    X3=set([dict_keyword[t] for t in X3])
    
    X2=set([tg for tg in keyword_set2 if ' '+tg+' ' in ' '+tx2+' '])
    tx3=remove_term(' '+tx2+' ',X2)
    X2=set([dict_keyword[t] for t in X2])

    X1=keyword_set1&set(tx3.split(" "))
    X1=set([dict_keyword[t] for t in X1])
    
    X_tags0=X1|X2|X3
    
    T1=set([t for t in X_tags0 if len(t.split(" "))==1])
    T2=set([t for t in X_tags0 if len(t.split(" "))==2])
    T3=set([t for t in X_tags0 if len(t.split(" "))==3])
    
    T12=include_tags(T1,T2)
    X_tags=include_tags(T12,T3)
    
    return X_tags

def tags_mult(X):
    XX=X.split(",")
    tg_X=set([])
    for t in XX:
        if len(t)>=3:
            t2=t.strip()
            tg_X=tg_X|tags(t2)
            
    return tuple(tg_X)

In [9]:
X=dtesting2.item_list_cln2

In [10]:
from sklearn.preprocessing import MultiLabelBinarizer
from imblearn.over_sampling import RandomOverSampler,SMOTE
from sklearn.metrics import hamming_loss
from sklearn.preprocessing import LabelEncoder
from skmultilearn.problem_transform import LabelPowerset,ClassifierChain
from skmultilearn.adapt import MLkNN
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from gensim.models import Word2Vec
from gensim.models.wrappers import FastText
from gensim.models import KeyedVectors
from collections import defaultdict
from sklearn.preprocessing import RobustScaler
from sklearn.externals import joblib

# DL2 Model

In [11]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Embedding
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.models import model_from_json

Using TensorFlow backend.

In [12]:
multilabel_binarizer_DL2=joblib.load(model_path+"multilabel_bin_for_DL2.pkl")
tokenizer_DL2=joblib.load(model_path+"tokenizer_for_DL2.pkl")

In [13]:
## Transform
# sequence encode
encoded_docs_DL2 = tokenizer_DL2.texts_to_sequences(X)
# pad sequences
max_length = 80
X2_DL2 = pad_sequences(encoded_docs_DL2, maxlen=max_length, padding='post')

In [14]:
# load json and create model
json_file = open(model_path+"wv_DL2.json", 'r')
loaded_model_json = json_file.read()
json_file.close()
DL2_model = model_from_json(loaded_model_json)
# load weights into new model
DL2_model.load_weights(model_path+"wv_DL2.h5")
print("Loaded model from disk")
 
# evaluate loaded model on test data
DL2_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

Loaded model from disk

In [ ]:
y_pred_DL2 = DL2_model.predict(X2_DL2) #Benchmark 0.16

In [ ]:
def transform_y(yp,a=0.22):
    YY=(yp>a).astype(int)
    while YY.sum()==0 and a>=0.35:
        a=a-0.02
        YY=(yp>a).astype(int)
    return YY

In [ ]:
y_pred2_DL2=np.array([transform_y(yp,a=0.55) for yp in y_pred_DL2])
dtesting2["pred_tag_DL2"]=multilabel_binarizer_DL2.inverse_transform(y_pred2_DL2)

In [ ]:
gt_dl2=open(model_path+"good_tags_DL2.txt",'r')
gt_DL2=gt_dl2.readline().split(", ")

In [ ]:
len(gt_DL2)

In [ ]:
dtesting2.to_csv(data_man_path+"model_result_on_item_only_testing.csv",index=False)
# dtesting2=pd.read_csv(data_man_path+"model_result_on_data_testing.csv")

# Evaluation

In [30]:
dtesting2[["item_list","real_tags","pred_tag_DL1","pred_tag_DL2"]].sample(15)

,item_list,real_tags,pred_tag_DL1,pred_tag_DL2
793122,alfamidi pandan wangi 5 kg beras,"(beras, alfamidi)","(alfamidi, beras)","(alfamidi, beras)"
353405,charger iphone,"(charger,)","(charger,)","(charger,)"
997735,3 porsi bakso + keroket 10 (bakso dkt jasaraha...,"(bakso,)","(bakso,)","(bakso,)"
918670,aqua air mineral 24 pcs x 600 ml,"(aqua, air)","(air, aqua)","(air, aqua)"
226595,"piatos sapi panggang,amidis - 600 ml,sprite - ...","(frestea jasmine, piatos, tim tam, amidis, spr...","(frestea, frestea jasmine, tim tam)","(frestea, frestea jasmine, sprite, tim tam)"
664102,beliin hp samsunbg S200,(),(),"(charger,)"
13998,nasi + ayam geprek,"(nasi, ayam geprek)","(ayam geprek, nasi)","(ayam geprek, nasi)"
45217,"nasi goreng gila,kwetiaw goreng spesial","(nasi goreng, kwetiau)","(nasi goreng,)","(kwetiau, nasi goreng)"
786418,"aqua pet 600 ml mineral water,aqua pet 1 5 l m...","(aqua, air, formula)","(air, aqua)","(air, aqua, formula)"
534762,"nasi gemuk 4 bungkus (8.000), lupis 4 buah (2....","(nasi, buah)","(buah, nasi)","(buah, nasi)"
288681,mamy poko pants standar l x 8 pcs,"(celana, mamy poko)","(celana, mamy poko)","(celana, mamy poko)"
122820,nasi balado daging,"(daging, nasi)","(daging, nasi)","(daging, nasi)"
313773,beli pakan lele 1sak/30kg kode 781-2,"(lele,)","(lele,)","(lele,)"
111631,"burger patties saus bolognese,french fries,ane...","(kentang goreng, burger, jus)","(burger, jus, kentang goreng)","(burger, kentang goreng, spaghetti)"
917641,"prime l organic tomat - 1000 gr,paha utuh aya...","(strawberry, buavita, ayam kampung, sari roti,...","(ayam, buavita, sari roti)","(ayam kampung, buavita, fanta, strawberry)"

In [50]:
((dd_eval_DL2.AUC>0.8)&(dd_eval_DL2["learn_rate(%)"]>0)).mean()*451

252.40515021459225

In [51]:
dd_eval_DL2[(dd_eval_DL2.AUC>0.8)&(dd_eval_DL2["learn_rate(%)"]>0)][["accuracy","AUC"]].describe()

         accuracy         AUC
count  652.000000  652.000000
mean     0.999401    0.895786
std      0.000837    0.051804
min      0.988536    0.800310
25%      0.999278    0.852051
50%      0.999652    0.896151
75%      0.999819    0.939440
max      0.999993    0.998650

In [52]:
dtesting2.head()

,booking_time,order_no,payment_method_name,merchant_name,type,item_list,item_list_cln1,item_list_cln2,real_tags,pred_tag_DL1,pred_tag_DL2
0,2018-09-30 01:00:58.129129,F-103656423,FREE,Soto Cemorojajar,food,mendoan,mendoan,mendoan,(),(),()
1,2018-09-16 04:44:07.947744,F-94443846,PAY_LATER,Warung Sate Solo Pak Hadi,food,"sate ayam,tongseng ayam","sate ayam,tongseng ayam",sate ayam tongseng ayam,"(tongseng, ayam, sate ayam)","(ayam, sate ayam, tongseng)","(ayam, sate ayam, tongseng)"
2,2018-05-11 05:39:01.530242,F-14238997,FREE,HokBen,food,hoka hemat 1,hoka hemat,hoka hemat,(),(),()
3,2018-09-24 11:40:54.184264,F-100085239,PAY_LATER,Shukufuku Japanese StreetFood,food,gyu zuke,gyu zuke,gyu zuke,(),(),()
4,2018-09-19 11:00:09.280537,F-96640563,PAY_LATER,Ayam Santai,food,paket ayam geprek nasi putih sambal korek pedas,paket ayam geprek nasi putih sambal korek pedas,paket ayam geprek nasi putih sambal korek pedas,"(korek, ayam geprek, nasi putih)","(ayam geprek, korek, nasi putih)","(ayam geprek, korek, nasi putih)"

In [55]:
dtesting2_upload=dtesting2[["order_no","merchant_name","type","item_list","real_tags","pred_tag_DL1","pred_tag_DL2"]]

In [64]:
dtesting2_upload["real_tags"]=dtesting2_upload["real_tags"].apply(lambda x:', '.join(x))
dtesting2_upload["pred_tag_DL1"]=dtesting2_upload["pred_tag_DL1"].apply(lambda x:', '.join(x))
dtesting2_upload["pred_tag_DL2"]=dtesting2_upload["pred_tag_DL2"].apply(lambda x:', '.join(x))

/Users/alamhanz/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/alamhanz/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/alamhanz/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()