In [4]:
# https://competitions.codalab.org/competitions/16652
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from bs4 import BeautifulSoup

In [5]:
base_dir_tr='training/'
base_dir_vl='validation/'

In [6]:
dtr=pd.read_csv(base_dir_tr+'data_train.csv',encoding='ISO-8859-1')
dvl=pd.read_csv(base_dir_vl+'data_valid.csv',encoding='ISO-8859-1')

In [7]:
dtr.head()

,my,AD674FAASTLXANMY,Adana Gallery Suri Square Hijab â Light Pink,Fashion,Women,Muslim Wear,<ul><li>Material : Non sheer shimmer chiffon</li><li>Sizes : 52 x 52 inches OR 56 x 56 inches</li><li>CutÂ with curved ends</li></ul>,49.0,local
0,my,AE068HBAA3RPRDANMY,Cuba Heartbreaker Eau De Parfum Spray 100ml/3.3oz,Health & Beauty,Bath & Body,Hand & Foot Care,Formulated with oil-free hydrating botanicals/...,128.00,international
1,my,AN680ELAA9VN57ANMY,Andoer 150cm Cellphone Smartphone Mini Dual-He...,"TV, Audio / Video, Gaming & Wearables",Audio,Live Sound & Stage,<ul> <li>150cm mini microphone compatible for ...,25.07,international
2,my,AN957HBAAAHDF4ANMY,ANMYNA Complaint Silky Set æé¡ºæ´åé å¥ ...,Health & Beauty,Hair Care,Shampoos & Conditioners,<ul> <li>ANMYNA Complaint Silky Set (Shampoo 5...,118.00,local
3,my,AR511HBAXNWAANMY,Argital Argiltubo Green Clay For Face and Body...,Health & Beauty,Men's Care,Body and Skin Care,<ul> <li>100% Authentic</li> <li>Rrefresh and ...,114.80,international
4,my,AS575ELCMZ4WANMY,Asus TP300LJ-DW004H Transformer Book Flip 4GB ...,Computers & Laptops,Laptops,Traditional Laptops,"<div class=""prod_content""> <div class=""prod_de...",2599.00,local

In [5]:
dvl2.head()

,sku_id,rank_short_des,rank_title
0,AP564ELASSTWANMY,"[469, 13, 7764, 408, 197, 2073, 245, 122, 1712...","[41, 297, 131, 0, 299, 1184, 253, 20, 92, 1056..."
1,BR924HBAA5B3TLANMY,"[11241, 141, 4417, 3285, 815, 0, 315, 1306, 23...","[166, 2085, 5471, 1295, 267, 3943, 22, 378, 18..."
2,CA673ELAA5UG3XANMY,"[388, 2067, 2177, 279, 971, 333, 4649, 30, 428...","[330, 1154, 2771, 2086, 78, 31, 6669, 253, 420..."
3,DE759ELAA7QM1XANMY,"[171, 982, 13, 1101, 405, 175, 926, 4517, 75, ...","[971, 33, 292, 1170, 0]"
4,ES802OTAABHAY8ANMY,"[54, 36, 19, 765, 314, 1474, 32, 119, 40, 203,...","[11990, 0, 12507, 5056, 1998, 0, 355, 10, 69, ..."

In [6]:
dvl2.head()

,sku_id,rank_short_des,rank_title
0,AP564ELASSTWANMY,"[469, 13, 7764, 408, 197, 2073, 245, 122, 1712...","[41, 297, 131, 0, 299, 1184, 253, 20, 92, 1056..."
1,BR924HBAA5B3TLANMY,"[11241, 141, 4417, 3285, 815, 0, 315, 1306, 23...","[166, 2085, 5471, 1295, 267, 3943, 22, 378, 18..."
2,CA673ELAA5UG3XANMY,"[388, 2067, 2177, 279, 971, 333, 4649, 30, 428...","[330, 1154, 2771, 2086, 78, 31, 6669, 253, 420..."
3,DE759ELAA7QM1XANMY,"[171, 982, 13, 1101, 405, 175, 926, 4517, 75, ...","[971, 33, 292, 1170, 0]"
4,ES802OTAABHAY8ANMY,"[54, 36, 19, 765, 314, 1474, 32, 119, 40, 203,...","[11990, 0, 12507, 5056, 1998, 0, 355, 10, 69, ..."

In [7]:
dtr2.to_csv(base_dir_tr+'data_manipulation_2_2_train.csv',index=0)
dvl2.to_csv(base_dir_vl+'data_manipulation_2_2_valid.csv',index=0)