In [1]:
# https://competitions.codalab.org/competitions/16652
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from bs4 import BeautifulSoup

In [2]:
base_dir_tr='training/'
base_dir_vl='validation/'

In [3]:
dtr=pd.read_csv(base_dir_tr+'data_manipulation_15k_tr.csv',encoding='ISO-8859-1')
dtr_ti=pd.read_csv(base_dir_tr+'data_title_15k_tr.csv',encoding='ISO-8859-1')
dtr2=pd.merge(dtr[['sku_id','rank_short_des']],dtr_ti,how='left',on='sku_id')[['sku_id','rank_short_des','rank_title','conci','clari']]

# dtr2=dtr[['sku_id','rank_short_des']]
# dtr_ti2=dtr_ti[['sku_id','rank_title','conci','clari']]


dvl=pd.read_csv(base_dir_vl+'data_manipulation_15k_vl.csv',encoding='ISO-8859-1')
dvl_ti=pd.read_csv(base_dir_vl+'data_title_15k_vl.csv',encoding='ISO-8859-1')
dvl2=pd.merge(dvl[['sku_id','rank_short_des']],dvl_ti,how='left',on='sku_id')[['sku_id','rank_short_des','rank_title']]

In [4]:
dtr2.head()

,sku_id,rank_short_des,rank_title,conci,clari
0,AD674FAASTLXANMY,"[1, 89, 2710, 4230, 0, 2642, 13, 2642, 446, 24...","[0, 7533, 0, 363, 1959, 42, 37]",1,1
1,AE068HBAA3RPRDANMY,"[1012, 282, 48, 2495, 4548, 13079, 1511, 33, 4...","[0, 0, 396, 313, 950, 381, 349, 8, 1782]",1,1
2,AN680ELAA9VN57ANMY,"[3457, 184, 452, 37, 73, 776, 1005, 253, 326, ...","[2105, 4692, 1347, 408, 26, 108, 9468, 6905, 4...",0,1
3,AN957HBAAAHDF4ANMY,"[0, 0, 1494, 167, 1695, 0, 2286, 6029, 693, 32...","[0, 0, 3009, 24, 0, 715, 0, 774, 885]",1,1
4,AR511HBAXNWAANMY,"[15, 737, 0, 2079, 33, 34, 1675, 693, 1377, 1314]","[10204, 0, 43, 2794, 345, 116, 885]",1,1

In [5]:
dvl2.head()

,sku_id,rank_short_des,rank_title
0,AP564ELASSTWANMY,"[469, 13, 7764, 408, 197, 2073, 245, 122, 1712...","[41, 297, 131, 0, 299, 1184, 253, 20, 92, 1056..."
1,BR924HBAA5B3TLANMY,"[11241, 141, 4417, 3285, 815, 0, 315, 1306, 23...","[166, 2085, 5471, 1295, 267, 3943, 22, 378, 18..."
2,CA673ELAA5UG3XANMY,"[388, 2067, 2177, 279, 971, 333, 4649, 30, 428...","[330, 1154, 2771, 2086, 78, 31, 6669, 253, 420..."
3,DE759ELAA7QM1XANMY,"[171, 982, 13, 1101, 405, 175, 926, 4517, 75, ...","[971, 33, 292, 1170, 0]"
4,ES802OTAABHAY8ANMY,"[54, 36, 19, 765, 314, 1474, 32, 119, 40, 203,...","[11990, 0, 12507, 5056, 1998, 0, 355, 10, 69, ..."

In [6]:
dtr2.to_csv(base_dir_tr+'data_manipulation_2_train.csv',index=0)
dvl2.to_csv(base_dir_vl+'data_manipulation_2_valid.csv',index=0)